html, body, .Main {
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
}

#start {
    position: absolute;
    left:20%;
    top: 20%;
}

#finish {
    position: absolute;
    right:20%;
    bottom:20%;
}